small{
    color: #014421;
    font-size: large;
}

.header{
    padding: 30px;
    background-color: white;
    padding: 0%;
}

body{
    background-color: #028A0f;
}

.text1{
    margin-left: 2%;
    vertical-align: top;
    float: left;
    width: 66%;
}

.img1{
    padding: 2px;
    display: inline-block;
}

.img2{
    margin-top: 35%;
    width: 100%;
}

nav{
    overflow: hidden;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-block;
}

ul{
    list-style-type: none;
}

nav a{
    float:left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 17px;
    width: 16%;
    /* display: inline-block; */
}

nav a:hover{
    background: #30C665;
    color: black;
}
